{% extends "movies/layout.html" %}

{% block title %}
    Show {{ movie.title }}
{% endblock %}


{% block body %}
    {% if movie.poster.url != Null %}
        <img src="{{ movie.poster.url }}" width="120" height="200">

    {% else %}
        <h3>No image url available</h3>

    {% endif %}

    <div>
        <h3>{{ movie.title }}</h3>
        <h5>{{ movie.desc }}</h5>

        <h5>Categories</h5>
        <ul>
            {% for category in movie.categories.all %}
                <li>{{ category }}</li>
            {% endfor %}
        </ul>

        <h5>Cast</h5>
        <ul>
            {% for actor in movie.cast.all %}
                <li>{{ actor }}</li>
            {% endfor %}
        </ul>

        <h5>Year: {{ movie.year }}</h5>
        <h5>Country: {{ movie.country }}</h5>
        <h5>Rate: {{ movie.rate }}</h5>
    </div>

    <button><a href="{% url 'edit' movie.id %}" >Edit Movie</a></button>
    <button><a href="{% url 'delete' movie.id %}" >Delete Movie</a></button>

    <br><br>
    {% if movie.video.url != Null %}
        <video controls src="{{ request.scheme }}://{{ request.get_host }}{{ movie.video.url }}" width="100%"></video>

    {% else %}
        <h3>No video url available</h3>

    {% endif %}

{% endblock %}